<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>QR Code pour les disponibilités</title>
</head>
<body>
    <h1>QR Code pour accéder aux Disponibilités des Médecins</h1>

    <img src="{{ asset('img/qr-code-test.png') }}" 
     alt="QR Code pour les disponibilités"
     style="width: 300px; height: 300px;" />


    <p>Scannez ce code pour accéder aux disponibilités des médecins.</p>
</body>
</html>
