{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block body %}
    <h1>Create New RendezVous</h1>

    {# Affichage du message flash de succès si disponible #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {# Formulaire de création de rendez-vous #}
    {{ include('rd/rendez_vous/_form.html.twig') }}

{% endblock %}
